page-smart-tour {
    .item {
        margin-bottom: 100px auto;
    }
    .line-break {
        overflow: inherit;
        text-overflow: inherit;
        white-space: normal;
        margin-top: 0px;
    }
}
