<ion-header>
    <ion-navbar>
        <ion-title>
            SmartTour
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="goToSettings()" style="color: white">
                <ion-icon name="settings"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar>
        <ion-searchbar placeholder="{{ 'ui.searchBar.PLACEHOLDER' | translate }}" name="search" (ionChange)="search()"></ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content padding style="background-color:#EFEFF4;">
    <ion-refresher #refresher (ionRefresh)="doRefresh()">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="{{ 'ui.refresher.PULLING' | translate }}" refreshingSpinner="circles"
            refreshingText="{{ 'ui.refresher.REFRESHING' | translate }}">
        </ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <ion-card *ngFor="let place of places">
            <ion-item color="none" on-click="goToPointsOfInterest(place)" style="border: 100px; border-color: #EFEFF4">
                <ion-thumbnail item-left>
                    <img [src]="place.imagePath" style="object-fit: scale-down;" />
                </ion-thumbnail>
                <h2 class="line-break">
                    {{ place.name }}
                </h2>
                <p style="white-space:normal;" [innerHTML]="place.description"></p>
            </ion-item>
        </ion-card>
    </ion-list>
</ion-content>
