<div class="content-heading">{{ 'pois.TITLE' | translate }}
	<ul class="breadcrumb" *ngIf="poi">
        <li><a (click)="navigate('/place/' + poi.place.id)">{{ placeName }}</a></li>
		<li><a (click)="navigate('/place/' + poi.place.id + '/POIs')">{{ poiName }}</a></li>
		<li><a (click)="navigate('/place/' + poi.place.id + '/POIs/' + poi.id + '/medias')">Médias</a></li>
        <li class="active">{{ (isModify ? 'add-modify-media.title.MODIFY' : 'add-modify-media.title.ADD') | translate }}</li>
    </ul>
</div>

<!-- START row-->
<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
					<!-- START panel-->
					<div class="panel panel-default">
						<div class="panel-body">
							<fieldset class="b0">
								<legend>{{ (isModify ? 'add-modify-media.title.MODIFY' : 'add-modify-media.title.ADD') | translate }}</legend>
							</fieldset>
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">{{ 'add-modify-media.NAME' | translate }}</label>
									<div class="col-sm-6">
										<input class="form-control" type="text" formControlName="name" [formControl]="valForm.controls['name']" />
										<span class="text-danger" *ngIf="valForm.controls['name'].hasError('required') && (valForm.controls['name'].dirty || valForm.controls['name'].touched)">{{ 'form.FIELD_REQUIRED' | translate }}</span>
									</div>
									<div class="col-sm-4">
										<small class="text-muted"></small>
									</div>
								</div>
							</fieldset>
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">{{ 'add-modify-media.TYPE' | translate }}</label>
									<div class="col-sm-6">
										<mat-form-field>
											<mat-select ngDefaultControl class="" formControlName="type" placeholder="{{ 'add-modify-media.TYPE' | translate }}" [formControl]="valForm.controls['type']">
												<mat-option [value]="MediaType.TEXT">{{ 'media.type.' + MediaType.TEXT | translate }}</mat-option>
												<mat-option [value]="MediaType.PICTURE">{{ 'media.type.' + MediaType.PICTURE | translate }}</mat-option>
												<mat-option [value]="MediaType.VIDEO">{{ 'media.type.' + MediaType.VIDEO | translate }}</mat-option>
												<mat-option [value]="MediaType.AUDIO">{{ 'media.type.' + MediaType.AUDIO | translate }}</mat-option>
											</mat-select>
										</mat-form-field>
										<span class="text-danger" *ngIf="valForm.controls['type'].hasError('required') && (valForm.controls['type'].dirty || valForm.controls['type'].touched)">{{ 'form.FIELD_REQUIRED' | translate }}</span>
									</div>
									<div class="col-sm-4">
										<small class="text-muted"></small>
									</div>
								</div>
							</fieldset>
							<fieldset *ngIf="valForm.value.type == MediaType.AUDIO || valForm.value.type == MediaType.VIDEO || valForm.value.type == MediaType.PICTURE">
								<div class="form-group">
									<label class="col-sm-2 control-label">{{ 'add-modify-media.FILE' | translate }}</label>
									<div class="col-sm-6">
										<input type="file" id="file" (change)="onFileChange($event)" #fileInput>
										<br />
										<button type="button" class="btn btn-sm btn-default" (click)="clearFile()">{{ 'form.CLEAR_FILE' | translate }}</button>

										<span class="text-danger" *ngIf="valForm.controls['file'].hasError('required')">{{ 'form.FIELD_REQUIRED' | translate }}</span>
									</div>
									<div class="col-sm-4">
										<small class="text-muted"></small>
									</div>
								</div>
							</fieldset>
							<fieldset *ngIf="valForm.value.type == MediaType.TEXT">
								<div class="form-group">
									<label class="col-sm-2 control-label">{{ 'add-modify-media.TEXT' | translate }}</label>
									<div class="col-sm-10">
										<div class="panel">
											<div class="panel-body mh0">
												<textarea class="form-control note-editor" formControlName="text" [formControl]="valForm.controls['text']" rows="10"></textarea>
												<span class="text-danger" *ngIf="valForm.controls['text'].hasError('required') && (valForm.controls['text'].dirty || valForm.controls['text'].touched)">{{ 'form.FIELD_REQUIRED' | translate }}</span>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<small class="text-muted"></small>
									</div>
								</div>
							</fieldset>
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">{{ 'add-modify-media.CONDITION' | translate }}</label>
									<div class="col-sm-10">
										<div class="panel">
											<div class="panel-body mh0">
												<textarea class="form-control note-editor" formControlName="condition" [formControl]="valForm.controls['condition']" rows="10"></textarea>
												<span class="text-danger" *ngIf="valForm.controls['condition'].hasError('required') && (valForm.controls['condition'].dirty || valForm.controls['condition'].touched)">{{ 'form.FIELD_REQUIRED' | translate }}</span>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<small class="text-muted"></small>
									</div>
								</div>
							</fieldset>
						</div>
						<div class="panel-footer text-center">
							<div class="ball-pulse-sync" *ngIf="this.loading" style="padding: 5px 15px;">
								<div></div>
								<div></div>
								<div></div>
							</div>
							<button class="btn btn-info" type="submit" *ngIf="!this.loading">{{ (isModify ? 'add-modify-media.MODIFY' : 'add-modify-media.ADD') | translate }}</button>
						</div>
					</div>
					<!-- END panel-->
				</form>
			</div>
		</div>
		<!-- END row-->
	</div>
