<div class="content-heading">{{ 'users.TITLE' | translate }}
	<small>{{ 'users.SUBTITLE' | translate }}</small>
</div>

<!-- START row-->
<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
					<!-- START panel-->
					<div class="panel panel-default">
						<div class="panel-body">
							<fieldset class="b0">
								<legend>{{ 'modify-password.FORM_TITLE' | translate }}</legend>
							</fieldset>
							<fieldset formGroupName="passwordGroup">
								<div class="form-group">
									<label class="col-sm-2 control-label">{{ 'modify-password.NEW_PASSWORD' | translate }}</label>
									<div class="col-sm-6">
										<input class="form-control" type="password" formControlName="password" [formControl]="valForm.get('passwordGroup.password')" />
									</div>
									<div class="col-sm-4">
										<small class="text-muted"></small>
									</div>
								</div>
								<br />
								<div class="form-group">
									<label class="col-sm-2 control-label">{{ 'modify-password.CONFIRMATION' | translate }}</label>
									<div class="col-sm-6">
										<input class="form-control" type="password" formControlName="confirmPassword" [formControl]="valForm.get('passwordGroup.confirmPassword')" />
										<span class="text-danger" *ngIf="valForm.get('passwordGroup.password').hasError('required') && (valForm.get('passwordGroup.password').dirty || valForm.get('passwordGroup.password').touched)">{{ 'form.FIELD_REQUIRED' | translate }}</span>
										<span class="text-danger" *ngIf="valForm.get('passwordGroup.confirmPassword').hasError('equalTo')">{{ 'form.INPUT_NOT_MATCH' | translate }}</span>
									</div>
									<div class="col-sm-4">
										<small class="text-muted"></small>
									</div>
								</div>
							</fieldset>
						</div>
						<div class="panel-footer text-center">
							<div class="ball-pulse-sync" *ngIf="this.loading" style="padding: 5px 15px;">
								<div></div>
								<div></div>
								<div></div>
							</div>
							<button class="btn btn-info" type="submit" *ngIf="!this.loading">{{ 'modify-password.MODIFY' | translate }}</button>
						</div>
					</div>
					<!-- END panel-->
				</form>
			</div>
		</div>
		<!-- END row-->
	</div>
