<div class="content-heading">{{ 'places-users.TITLE' | translate }}
	<small>{{ 'places-users.SUBTITLE' | translate }}</small>
</div>

<style>
	table th {
		width: auto !important;
	}
</style>

<h4 class="page-header">{{ place.name }}
    <small></small>
</h4>
<!-- START panel-->
<div class="panel panel-default">
	<!-- START table-responsive-->
	<div class="table-responsive">
		<table class="table table-bordered table-hover table-fixed table-striped" id="table-ext-1">
			<thead>
				<tr>
					<th style="width: 33% !important;">{{ 'users.list.heading.FIRSTNAME' | translate }}</th>
					<th style="width: 33% !important;">{{ 'users.list.heading.LASTNAME' | translate }}</th>
					<th style="width: 33% !important;">{{ 'users.list.heading.MAIL' | translate }}</th>
					<th style="width: auto !important;"></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor='let user of users'>
					<td>{{ user.firstName }}</td>
					<td>{{ user.lastName }}</td>
					<td>{{ user.mail }}</td>
					<td style="text-align: center"><button class="btn btn-danger" (click)="delete(user)"><i class="fa fa-trash"></i></button></td>
				</tr>
				<tr *ngIf="users.length == 0 && !loaded">
					<td colspan="5">{{ 'places.list.content.LOADING' | translate }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- END table-responsive-->
	<div class="panel-footer">
		<div class="row">
			<div class="col-lg-3"><button class="btn btn-success" (click)="add()"><i class="fa fa-plus"></i></button></div>
			<div class="col-lg-6"></div>
			<div class="col-lg-3">
				<div class="input-group">
					<input #searchInput class="input-sm form-control" type="text" value="{{ searchText }}" placeholder="{{ 'form.SEARCH' | translate }}" (keyup)="search(searchInput.value)" />
					<span class="input-group-btn">
						<button class="btn btn-sm btn-default" type="button" (click)="search(searchInput.value)">{{ 'form.SEARCH' | translate }}</button>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END panel-->
