<ion-header>
    <ion-navbar>
        <ion-title>
            {{ 'settings.TITLE' | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding style="background-color:#EFEFF4;">
    <ion-list>
        <ion-list-header>
            {{ 'settings.age.TITLE' | translate }}
            <ion-badge item-end>{{age}} {{ 'settings.age.YEARS' | translate }}</ion-badge>
        </ion-list-header>
        <ion-item>
            <ion-range [(ngModel)]="age" min="0" max="120" step="1" (ionChange)="ageChange()">
                <ion-icon range-left small name="man"></ion-icon>
                <ion-icon range-right large name="man"></ion-icon>
            </ion-range>
        </ion-item>
    </ion-list>
    <!--
    <ion-card id="settings-card21">
        <ion-list>
            <ion-item id="settings-list-item-container2">
                <div id="settings-markdown2" class="show-list-numbers-and-dots">
                    <p style="margin-top:0px;color:#000000;">
                        <strong>
                            Quel est votre âge ?
                        </strong>
                    </p>
                </div>
            </ion-item>
            <form id="settings-form6">
                <ion-item id="settings-range3">
                    <ion-range min="0" max="120" step="1" color="positive" value="50" name="age" [(ngModel)]="age">
                        <ion-label range-left>
                            {{ age }} ans
                        </ion-label>
                    </ion-range>
                </ion-item>
            </form>
        </ion-list>
    </ion-card>
-->
</ion-content>
