<div class="content-heading">{{ 'places.TITLE' | translate }}
	<small>{{ 'places.SUBTITLE' | translate }}</small>
</div>

<!-- START row-->
<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
					<!-- START panel-->
					<div class="panel panel-default">
						<div class="panel-body">
							<fieldset class="b0">
								<legend>{{ (isModify ? 'add-modify-place.title.MODIFY' : 'add-modify-place.title.ADD') | translate }}</legend>
							</fieldset>
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">{{ 'add-modify-place.PICTURE' | translate }}</label>
									<div class="col-sm-6">
										<input type="file" id="picture" (change)="onFileChange($event)" #fileInput>
										<br />
										<button type="button" class="btn btn-sm btn-default" (click)="clearFile()">{{ 'form.CLEAR_FILE' | translate }}</button>

										<span class="text-danger" *ngIf="valForm.controls['picture'].hasError('required')">{{ 'form.FIELD_REQUIRED' | translate }}</span>
									</div>
									<div class="col-sm-4">
										<small class="text-muted"></small>
									</div>
								</div>
							</fieldset>
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">{{ 'add-modify-place.NAME' | translate }}</label>
									<div class="col-sm-6">
										<input class="form-control" type="text" formControlName="name" [formControl]="valForm.controls['name']" />
										<span class="text-danger" *ngIf="valForm.controls['name'].hasError('required') && (valForm.controls['name'].dirty || valForm.controls['name'].touched)">{{ 'form.FIELD_REQUIRED' | translate }}</span>
									</div>
									<div class="col-sm-4">
										<small class="text-muted"></small>
									</div>
								</div>
							</fieldset>
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">{{ 'add-modify-place.DESCRIPTION' | translate }}</label>
									<div class="col-sm-10">
										<div class="panel">
											<div class="panel-body mh0">
												<textarea class="form-control note-editor" formControlName="description" [formControl]="valForm.controls['description']" rows="10"></textarea>
												<span class="text-danger" *ngIf="valForm.controls['description'].hasError('required') && (valForm.controls['description'].dirty || valForm.controls['description'].touched)">{{ 'form.FIELD_REQUIRED' | translate }}</span>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<small class="text-muted"></small>
									</div>
								</div>
							</fieldset>
						</div>
						<div class="panel-footer text-center">
							<div class="ball-pulse-sync" *ngIf="this.loading" style="padding: 5px 15px;">
								<div></div>
								<div></div>
								<div></div>
							</div>
							<button class="btn btn-info" type="submit" *ngIf="!this.loading">{{ (isModify ? 'add-modify-place.MODIFY' : 'add-modify-place.ADD') | translate }}</button>
						</div>
					</div>
					<!-- END panel-->
				</form>
			</div>
		</div>
		<!-- END row-->
	</div>
