<h1 mat-dialog-title>{{ 'places-users.add-user-dialog.TITLE' | translate }}</h1>
<div mat-dialog-content>
	<p>{{ 'places-users.add-user-dialog.TEXT' | translate }}</p>
	<mat-form-field>
		<mat-select class="" [(ngModel)]="data.mail" placeholder="{{ loadingStatus | translate }}">
			<mat-option *ngFor="let user of users" [value]="user.mail">
				{{ user.firstName + " " + user.lastName + " (" + user.mail + ")" }}
			</mat-option>
		</mat-select>
	</mat-form-field>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="onNoClick()">{{ 'dialog.CANCEL' | translate }}</button>
	<button mat-button [mat-dialog-close]="getSelectedUser()" cdkFocusInitial>{{ 'dialog.OK' | translate }}</button>
</div>
