/* ========================================================================
     Component: typo
 ========================================================================== */

/* Roboto @font-face */

@font-face {
    font-family: 'Roboto';
    src: url('~roboto-fontface/fonts/roboto/Roboto-Light.eot');
    src: local('Roboto Light'), local('Roboto-Light'), url('~roboto-fontface/fonts/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('~roboto-fontface/fonts/roboto/Roboto-Light.woff2') format('woff2'), url('~roboto-fontface/fonts/roboto/Roboto-Light.woff') format('woff'), url('~roboto-fontface/fonts/roboto/Roboto-Light.ttf') format('truetype'), url('~roboto-fontface/fonts/roboto/Roboto-Light.svg#Roboto') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('~roboto-fontface/fonts/roboto/Roboto-LightItalic.eot');
    src: local('Roboto LightItalic'), local('Roboto-LightItalic'), url('~roboto-fontface/fonts/roboto/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'), url('~roboto-fontface/fonts/roboto/Roboto-LightItalic.woff2') format('woff2'), url('~roboto-fontface/fonts/roboto/Roboto-LightItalic.woff') format('woff'), url('~roboto-fontface/fonts/roboto/Roboto-LightItalic.ttf') format('truetype'), url('~roboto-fontface/fonts/roboto/Roboto-LightItalic.svg#Roboto') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('~roboto-fontface/fonts/roboto/Roboto-Regular.eot');
    src: local('Roboto Regular'), local('Roboto-Regular'), url('~roboto-fontface/fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('~roboto-fontface/fonts/roboto/Roboto-Regular.woff2') format('woff2'), url('~roboto-fontface/fonts/roboto/Roboto-Regular.woff') format('woff'), url('~roboto-fontface/fonts/roboto/Roboto-Regular.ttf') format('truetype'), url('~roboto-fontface/fonts/roboto/Roboto-Regular.svg#Roboto') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('~roboto-fontface/fonts/roboto/Roboto-RegularItalic.eot');
    src: local('Roboto RegularItalic'), local('Roboto-RegularItalic'), url('~roboto-fontface/fonts/roboto/Roboto-RegularItalic.eot?#iefix') format('embedded-opentype'), url('~roboto-fontface/fonts/roboto/Roboto-RegularItalic.woff2') format('woff2'), url('~roboto-fontface/fonts/roboto/Roboto-RegularItalic.woff') format('woff'), url('~roboto-fontface/fonts/roboto/Roboto-RegularItalic.ttf') format('truetype'), url('~roboto-fontface/fonts/roboto/Roboto-RegularItalic.svg#Roboto') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('~roboto-fontface/fonts/roboto/Roboto-Bold.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'), url('~roboto-fontface/fonts/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('~roboto-fontface/fonts/roboto/Roboto-Bold.woff2') format('woff2'), url('~roboto-fontface/fonts/roboto/Roboto-Bold.woff') format('woff'), url('~roboto-fontface/fonts/roboto/Roboto-Bold.ttf') format('truetype'), url('~roboto-fontface/fonts/roboto/Roboto-Bold.svg#Roboto') format('svg');
    font-weight: 700;
    font-style: normal;
}



body {
  font-family: "Roboto", sans-serif;
  color: rgba(0,0,0,0.8);
}

h1, h2, h3, h4 {
  font-weight: bold;
}

.article {
  font-size: 20px;
  line-height: 32px;
}