<div class="content-heading">{{ 'pois.TITLE' | translate }}
	<ul class="breadcrumb" *ngIf="place">
        <li><a (click)="navigate('/place/' + place.id)">{{ placeName }}</a></li>
        <li class="active">Points d'intérets</li>
    </ul>
</div>

<style>
	table th {
		width: auto !important;
	}
</style>

<!-- START panel-->
<div class="panel panel-default">
	<!-- START table-responsive-->
	<div class="table-responsive">
		<table class="table table-bordered table-hover table-fixed table-striped" id="table-ext-1">
			<thead>
				<tr>
					<th style="width: 100% !important;">{{ 'pois.list.heading.NAME' | translate }}</th>
					<th style="width: auto !important;">{{ 'pois.list.heading.ORDER' | translate }}</th>
					<th style="width: auto !important;"></th>
					<th style="width: auto !important;"></th>
					<th style="width: auto !important;"></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor='let poi of pois'>
					<td>{{ poi.name }}</td>
					<td>{{ poi.order }}</td>
					<td style="text-align: center"><button class="btn btn-warning" (click)="modify(poi)"><i class="fa fa-pencil"></i></button></td>
					<td style="text-align: center"><button class="btn btn-primary" (click)="attachments(poi)"><i class="fa fa-film"></i></button></td>
					<td style="text-align: center"><button class="btn btn-danger" (click)="delete(poi)"><i class="fa fa-trash"></i></button></td>
				</tr>
				<tr *ngIf="pois.length == 0 && !loaded">
					<td colspan="5">{{ 'pois.list.content.LOADING' | translate }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- END table-responsive-->
	<div class="panel-footer">
		<div class="row">
			<div class="col-sm-3"><button class="btn btn-success" (click)="add()"><i class="fa fa-plus"></i></button></div>
			<div class="col-sm-4"></div>
			<div class="col-sm-5">
				<div class="input-group">
					<input #searchInput class="input-sm form-control" type="text" value="{{ searchText }}" placeholder="{{ 'form.SEARCH' | translate }}" (keyup)="search(searchInput.value)" />
					<span class="input-group-btn">
						<button class="btn btn-sm btn-default" type="button" (click)="search(searchInput.value)">{{ 'form.SEARCH' | translate }}</button>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END panel-->
