<style>
	.wrapper {
		background-image: url(../../../../assets/img/login-bg.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
	}
</style>
<div class="wrapper">
    <div class="block-center mt-xl wd-xl">
        <!-- START panel-->
        <div class="panel panel-dark panel-flat">
            <div class="panel-heading text-center">
                <a href="#">
                    <img class="block-center img-rounded" src="assets/img/logo.png" srcset="assets/img/logo.png 1x, assets/img/logo@2x.png 2x, assets/img/logo@3x.png 3x" alt="Image" />
                </a>
            </div>
            <div class="panel-body">
                <p class="text-center pv">{{ 'login.SIGN_IN' | translate}}</p>
                <form [formGroup]="valForm" class="form-validate mb-lg" role="form" name="loginForm" novalidate="" (submit)="submitForm($event, valForm.value)">
                    <div class="form-group has-feedback">
                        <input class="form-control" id="exampleInputEmail1" type="email" name="email" placeholder="{{ 'login.MAIL' | translate}}" autocomplete="off" formControlName="email" required="" />
                        <span class="fa fa-envelope form-control-feedback text-muted"></span>
                        <span class="text-danger" *ngIf="valForm.controls['email'].hasError('required') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">{{ 'form.FIELD_REQUIRED' | translate}}</span>
                        <span class="text-danger" *ngIf="valForm.controls['email'].hasError('email') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">{{ 'form.VALID_MAIL' | translate}}</span>
                    </div>
                    <div class="form-group has-feedback">
                        <input class="form-control" id="exampleInputPassword1" type="password" name="password" placeholder="{{ 'login.PASSWORD' | translate}}" formControlName="password" required="" />
                        <span class="fa fa-lock form-control-feedback text-muted"></span>
                        <span class="text-danger" *ngIf="valForm.controls['password'].hasError('required') && (valForm.controls['password'].dirty || valForm.controls['password'].touched)">{{ 'form.FIELD_REQUIRED' | translate}}</span>
					</div>
					<!--
                    <div class="clearfix">
                        <div class="checkbox c-checkbox pull-left mt0">
                            <label>
                                <input type="checkbox" value="" name="account_remember"/>
                                <span class="fa fa-check"></span>{{ 'login.REMEMBER' | translate}}</label>
                        </div>
					</div>
					-->
					<span class="text-danger">{{ loginError | translate}}</span>
					<div class="ball-pulse-sync" *ngIf="this.loading" style="text-align: center; padding: 5px 15px">
						<div></div>
						<div></div>
						<div></div>
					</div>
                    <button class="btn btn-block btn-primary mt-lg" type="submit" *ngIf="!this.loading">{{ 'login.LOGIN' | translate}}</button>
				</form>

				<hr style="margin-bottom: 21px;">

				<div class="text-center">
					<span><app-language-selector></app-language-selector></span>
					<br/>
					<br/>
					<span>&copy;</span>
					<span>{{ settings.app.year }}</span>
					<span>-</span>
					<span>{{ settings.app.copyright }}</span>
					<!--
						<br/>
						<span>{{ settings.app.description }}</span>
					-->
				</div>
            </div>
        </div>
        <!-- END panel-->

    </div>
</div>
