<div class="home-container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="text-center">
                    <img alt="Angular" class="img-responsive center-block home-logo" src="assets/img/SmartTour.png" />
                </div>
            </div>
            <div class="col-lg-9 col-md-8 home-text">
                <h1>SmartTour</h1>
                <p>
					{{ 'home.SUBTITLE' | translate }}
					<br>
					<small>{{ 'home.SUBSUBTITLE' | translate }}</small>
                </p>
                <p>
					<button class="btn btn-labeled btn-info" type="button" (click)="openURL('https://itunes.apple.com/ch/app/tpg/id1001708277?l=fr&mt=8');">
						<span class="btn-label"><i class="fa fa-apple"></i>
					</span>{{ 'home.ITUNES_BUTTON' | translate }}</button>
					<button class="btn btn-labeled btn-info" type="button" (click)="openURL('https://play.google.com/store/apps/details?id=ch.tpgplus.tpg_plus&hl=fr');">
						<span class="btn-label"><i class="fa fa-android"></i>
					</span>{{ 'home.ANDROID_BUTTON' | translate }}</button>
				</p>
            </div>
        </div>
    </div>
</div>
