<div style="text-align: center;" *ngIf="this.loading">
	<div class="ball-pulse-sync" style="padding: 5px 15px; ">
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>
<div class="unwrap" *ngIf="!this.loading">
	<div class="bg-cover" *ngIf="image" [style.background-image]="image" style="background-repeat: no-repeat; background-position: center;">
		<div class="p-xl text-center text-white">
			<h3 class="m0">{{ place.name }}</h3>
			<p></p>
			<p [innerHTML]=" place.description | nl2br "></p>
		</div>
	</div>
	<br />
	<div class="container container-md">
		<div class="row">
			<div class="col-md-4">
				<div class="panel b">
					<div class="panel-body text-center">
						<a class="link-unstyled text-warning" (click)="modifyPlace()">
							<em class="fa fa-5x fa-pencil-square mb-lg"></em>
							<br/>
							<span class="h4">{{ 'place.MODIFY' | translate }}</span>
							<br/>
							<small class="text-muted"></small>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel b">
					<div class="panel-body text-center">
						<a class="link-unstyled text-success" (click)="pois()">
							<em class="fa fa-5x fa-map-marker mb-lg"></em>
							<br/>
							<span class="h4">{{ 'place.POINTS' | translate }}</span>
							<br/>
							<small class="text-muted"></small>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel b">
					<div class="panel-body text-center">
						<a class="link-unstyled text-info">
							<em class="fa fa-5x fa-wifi mb-lg"></em>
							<br/>
							<span class="h4">{{ 'place.BEACONS' | translate }}</span>
							<br/>
							<small class="text-muted"></small>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
