<div class="content-heading">{{ 'places.TITLE' | translate }}
	<small>{{ 'places.SUBTITLE' | translate }}</small>
</div>

<style>
	table th {
		width: auto !important;
	}
</style>

<!-- START panel-->
<div class="panel panel-default">
	<!-- START table-responsive-->
	<div class="table-responsive">
		<table class="table table-bordered table-hover table-fixed table-striped" id="table-ext-1">
			<thead>
				<tr>
					<th>{{ 'places.list.heading.IMAGE' | translate }}</th>
					<th>{{ 'places.list.heading.DESCRIPTION' | translate }}</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor='let place of places'>
					<td><img class="media-object img-responsive" src="{{ place.imagePath }}" alt="" /></td>
					<td>
						<div class="media">
                            <div class="media-body">
                                <div class="pull-right badge baed-info">{{ place.users.length }} {{ 'places.list.content.USERS' | translate }}</div>
                                <h4 class="media-heading">{{ place.name }}</h4>
                                <p>{{ place.description }}</div>
                        </div>
					</td>
					<td style="text-align: center"><button class="btn btn-warning" (click)="modify(place)"><i class="fa fa-pencil"></i></button></td>
					<td style="text-align: center"><button class="btn btn-primary" (click)="changeUsers(place)"><i class="fa fa-users"></i></button></td>
					<td style="text-align: center"><button class="btn btn-danger" (click)="delete(place)"><i class="fa fa-trash"></i></button></td>
				</tr>
				<tr *ngIf="places.length == 0 && !loaded">
					<td colspan="5">{{ 'places.list.content.LOADING' | translate }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- END table-responsive-->
	<div class="panel-footer">
		<div class="row">
			<div class="col-sm-3"><button class="btn btn-success" (click)="add()"><i class="fa fa-plus"></i></button></div>
			<div class="col-sm-4"></div>
			<div class="col-sm-5">
				<div class="input-group">
					<input #searchInput class="input-sm form-control" type="text" value="{{ searchText }}" placeholder="{{ 'form.SEARCH' | translate }}" (keyup)="search(searchInput.value)" />
					<span class="input-group-btn">
						<button class="btn btn-sm btn-default" type="button" (click)="search(searchInput.value)">{{ 'form.SEARCH' | translate }}</button>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END panel-->
