<div class="content-heading">{{ 'pois.TITLE' | translate }}
	<ul class="breadcrumb" *ngIf="poi">
        <li><a (click)="navigate('/place/' + poi.place.id)">{{ placeName }}</a></li>
		<li><a (click)="navigate('/place/' + poi.place.id + '/POIs')">{{ poiName }}</a></li>
        <li class="active">Médias</li>
    </ul>
</div>

<style>
	table th {
		width: auto !important;
	}
</style>

<!-- START panel-->
<div class="panel panel-default">
	<!-- START table-responsive-->
	<div class="table-responsive">
		<table class="table table-bordered table-hover table-fixed table-striped" id="table-ext-1">
			<thead>
				<tr>
					<th style="width: auto !important;"></th>
					<th style="width: 40% !important;">{{ 'medias.list.heading.NAME' | translate }}</th>
					<th style="width: 60% !important;">{{ 'medias.list.heading.CONDITION' | translate }}</th>
					<th style="width: auto !important;"></th>
					<th style="width: auto !important;"></th>
					<th style="width: auto !important;"></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor='let media of medias'>
					<td><i class="fa {{ media.typePictogram }}"></i></td>
					<td>{{ media.name }}</td>
					<td><pre [innerHTML]=" media.condition | nl2br "></pre></td>
					<td style="text-align: center"><button class="btn btn-warning" (click)="modify(media)"><i class="fa fa-pencil"></i></button></td>
					<td style="text-align: center"><button class="btn btn-success" (click)="download(media)" [disabled]="media.isText"><i class="fa fa-download"></i></button></td>
					<td style="text-align: center"><button class="btn btn-danger" (click)="delete(media)"><i class="fa fa-trash"></i></button></td>
				</tr>
				<tr *ngIf="medias.length == 0 && !loaded">
					<td colspan="5">{{ 'medias.list.content.LOADING' | translate }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- END table-responsive-->
	<div class="panel-footer">
		<div class="row">
			<div class="col-sm-3"><button class="btn btn-success" (click)="add()"><i class="fa fa-plus"></i></button></div>
			<div class="col-sm-4"></div>
			<div class="col-sm-5">
				<div class="input-group">
					<input #searchInput class="input-sm form-control" type="text" value="{{ searchText }}" placeholder="{{ 'form.SEARCH' | translate }}" (keyup)="search(searchInput.value)" />
					<span class="input-group-btn">
						<button class="btn btn-sm btn-default" type="button" (click)="search(searchInput.value)">{{ 'form.SEARCH' | translate }}</button>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END panel-->
