<div class="item user-block" *ngIf="userBlockIsVisible()">
    <!-- User picture-->
    <div class="user-block-picture">
		<table>
			<tr>
				<td rowspan="2">
					<div class="user-block-status">
						<img class="img-thumbnail img-circle" src="assets/img/avatar.png" alt="Avatar" />
						<div class="circle circle-success circle-lg"></div>
					</div>
				</td>
				<td rowspan="2" class="user-block-profile">&nbsp;&nbsp;&nbsp;</td>
				<td class="user-block-profile">
					<button class="btn btn-warning" (click)="modifyProfile()"><i class="fa fa-pencil"></i></button>
				</td>
			</tr>
			<tr>
				<td class="user-block-profile">
					<button class="btn btn-primary" (click)="modifyPassword()"><i class="fa fa-key"></i></button>
				</td>
			</tr>
		</table>
    </div>
    <!-- Name and Job-->
    <div class="user-block-info">
		<span class="user-block-name">{{ 'userblock.WELCOME' | translate }}  {{ sessionManager.user.firstName }}</span>
    </div>
</div>
