<h1 mat-dialog-title>{{ title | translate }}</h1>
<form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
	<div mat-dialog-content *ngIf="!this.loading">
		<p></p>
		<label>{{ 'pois.add-modify-dialog.NAME' | translate }}</label>
		<input class="form-control" type="text" formControlName="name" [formControl]="valForm.controls['name']" />
		<span class="text-danger" *ngIf="valForm.controls['name'].hasError('required') && (valForm.controls['name'].dirty || valForm.controls['name'].touched)">{{ 'form.FIELD_REQUIRED' | translate }}</span>
		<br />
		<label>{{ 'pois.add-modify-dialog.ORDER' | translate }}</label>
		<input class="form-control" type="number" formControlName="order" [formControl]="valForm.controls['order']" />
		<span class="text-danger" *ngIf="valForm.controls['order'].hasError('required') && (valForm.controls['order'].dirty || valForm.controls['order'].touched)">{{ 'form.FIELD_REQUIRED' | translate }}</span>
		<br />
	</div>
	<div mat-dialog-content class="ball-pulse-sync" *ngIf="this.loading" style="text-align: center; padding: 15px 15px">
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div mat-dialog-actions *ngIf="!this.loading">
		<button mat-button (click)="onNoClick()">{{ 'dialog.CANCEL' | translate }}</button>
		<button mat-button type="submit" cdkFocusInitial>{{ 'dialog.OK' | translate }}</button>
	</div>
</form>
