page-points-of-interest {
    .has-refresher .scroll-content {
        border-top: 0 !important;
    }
    .line-break {
        overflow: inherit;
        text-overflow: inherit;
        white-space: normal;
        margin-top: 0px;
    }
}
