<ion-header>
    <ion-navbar>
        <ion-title>
            {{ 'poi.TITLE' | translate }}
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="goToSettings()" style="color: white">
                <ion-icon name="settings"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar>
        <ion-searchbar placeholder="{{ 'ui.searchBar.PLACEHOLDER' | translate }}" name="search" (ionChange)="search()"></ion-searchbar>
    </ion-toolbar>
    <ion-card>
        <ion-list>
            <ion-item>
                <div class="show-list-numbers-and-dots">
                    <p style="margin-top:0px;color:#000000;" class="line-break">
                        <strong>
                            {{ place.name }}
                        </strong>
                    </p>
                </div>
            </ion-item>
            <img [src]="place.imagePath" />
        </ion-list>
    </ion-card>
</ion-header>
<ion-content padding style="background-color:#EFEFF4;">
    <ion-refresher #refresher (ionRefresh)="doRefresh()">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="{{ 'ui.refresher.PULLING' | translate }}" refreshingSpinner="circles"
            refreshingText="{{ 'ui.refresher.REFRESHING' | translate }}">
        </ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <ion-item color="none" on-click="goToMedias(poi)" *ngFor="let poi of pois">
            {{ poi.name }}
            <ion-icon name="arrow-forward" item-right></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>
