<div class="content-heading">{{ 'users.TITLE' | translate }}
	<small>{{ 'users.SUBTITLE' | translate }}</small>
</div>

<!-- START panel-->
<div class="panel panel-default">
	<!-- START table-responsive-->
	<div class="table-responsive">
		<table class="table table-bordered table-hover table-fixed table-striped" id="table-ext-1">
			<thead>
				<tr>
					<th style="width: 25% !important;">{{ 'users.list.heading.FIRSTNAME' | translate }}</th>
					<th style="width: 25% !important;">{{ 'users.list.heading.LASTNAME' | translate }}</th>
					<th style="width: 25% !important;">{{ 'users.list.heading.MAIL' | translate }}</th>
					<th style="width: 25% !important;">{{ 'users.list.heading.PLACEADMIN' | translate }}</th>
					<th style="width: auto !important;"></th>
					<th style="width: auto !important;"></th>
					<th style="width: auto !important;"></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor='let user of users'>
					<td>{{ user.firstName }}</td>
					<td>{{ user.lastName }}</td>
					<td>{{ user.mail }}</td>
					<td><div class="label label-primary" *ngIf="!user.placeAdmin">{{ 'users.list.content.role.USER' | translate }}</div><div class="label label-success" *ngIf="user.placeAdmin">{{ 'users.list.content.role.ADMIN' | translate }}</div></td>
					<td style="text-align: center"><button class="btn btn-warning" (click)="modify(user)"><i class="fa fa-pencil"></i></button></td>
					<td style="text-align: center"><button class="btn btn-primary" (click)="changePassword(user)"><i class="fa fa-key"></i></button></td>
					<td style="text-align: center"><button class="btn btn-danger" (click)="delete(user)"><i class="fa fa-trash"></i></button></td>
				</tr>
				<tr *ngIf="users.length == 0 && !loaded">
					<td colspan="7">{{ 'users.list.content.LOADING' | translate }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- END table-responsive-->
	<div class="panel-footer">
		<div class="row">
			<div class="col-sm-3"><button class="btn btn-success" (click)="add()"><i class="fa fa-plus"></i></button></div>
			<div class="col-sm-4"></div>
			<div class="col-sm-5">
				<div class="input-group">
					<input #searchInput class="input-sm form-control" type="text" value="{{ searchText }}" placeholder="{{ 'form.SEARCH' | translate }}" (keyup)="search(searchInput.value)" />
					<span class="input-group-btn">
						<button class="btn btn-sm btn-default" type="button" (click)="search(searchInput.value)">{{ 'form.SEARCH' | translate }}</button>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END panel-->
