<div class="content-heading">{{ 'users.TITLE' | translate }}
	<small>{{ 'users.SUBTITLE' | translate }}</small>
</div>

<!-- START row-->
<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
					<!-- START panel-->
					<div class="panel panel-default">
						<div class="panel-body">
							<fieldset class="b0">
								<legend>{{ 'modify-user.FORM_TITLE' | translate }}</legend>
							</fieldset>
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">{{ 'modify-user.FIRSTNAME' | translate }}</label>
									<div class="col-sm-6">
										<input class="form-control" type="text" formControlName="firstName" [formControl]="valForm.controls['firstName']" />
										<span class="text-danger" *ngIf="valForm.controls['firstName'].hasError('required') && (valForm.controls['firstName'].dirty || valForm.controls['firstName'].touched)">{{ 'form.FIELD_REQUIRED' | translate }}</span>
									</div>
									<div class="col-sm-4">
										<small class="text-muted"></small>
									</div>
								</div>
							</fieldset>
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">{{ 'modify-user.LASTNAME' | translate }}</label>
									<div class="col-sm-6">
										<input class="form-control" type="text" formControlName="lastName" [formControl]="valForm.controls['lastName']" />
										<span class="text-danger" *ngIf="valForm.controls['lastName'].hasError('required') && (valForm.controls['lastName'].dirty || valForm.controls['lastName'].touched)">{{ 'form.FIELD_REQUIRED' | translate }}</span>
									</div>
									<div class="col-sm-4">
										<small class="text-muted"></small>
									</div>
								</div>
							</fieldset>
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">{{ 'modify-user.MAIL' | translate }}</label>
									<div class="col-sm-6">
										<input class="form-control" type="email" placeholder="mail@example.com" formControlName="email" [formControl]="valForm.controls['email']" />
										<span class="text-danger" *ngIf="valForm.controls['email'].hasError('email') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">{{ 'form.VALID_MAIL' | translate }}</span>
										<span class="text-danger" *ngIf="valForm.controls['email'].hasError('required') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">{{ 'form.FIELD_REQUIRED' | translate }}</span>
									</div>
									<div class="col-sm-4">
										<small class="text-muted"></small>
									</div>
								</div>
							</fieldset>
							<fieldset [hidden]="!sessionManager.getUser().placeAdmin">
								<div class="form-group">
									<label class="col-sm-2 control-label">{{ 'modify-user.PLACEADMIN' | translate }}</label>
									<div class="col-sm-6">
										<label class="switch">
											<input type="checkbox" checked="checked" formControlName="admin" [formControl]="valForm.controls['admin']" />
											<span></span>
										</label>
									</div>
									<div class="col-sm-4">
										<small class="text-muted"></small>
									</div>
								</div>
							</fieldset>
						</div>
						<div class="panel-footer text-center">
							<div class="ball-pulse-sync" *ngIf="this.loading" style="padding: 5px 15px;">
								<div></div>
								<div></div>
								<div></div>
							</div>
							<button class="btn btn-info" type="submit" *ngIf="!this.loading">{{ 'modify-user.MODIFY' | translate }}</button>
						</div>
					</div>
					<!-- END panel-->
				</form>
			</div>
		</div>
		<!-- END row-->
	</div>
