<ion-header>
    <ion-navbar>
        <ion-title>
            {{ 'media.TITLE' | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding style="background-color:#EFEFF4;">
    <ion-refresher #refresher (ionRefresh)="doRefresh()">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="{{ 'ui.refresher.PULLING' | translate }}" refreshingSpinner="circles"
            refreshingText="{{ 'ui.refresher.REFRESHING' | translate }}">
        </ion-refresher-content>
    </ion-refresher>
    <h1 id="medias-heading1" style="color:#000000;text-align:center;">
        {{ poi.name }}
    </h1>
    <ion-card class="item item-text-wrap">
        <ion-list>
            <img *ngFor="let media of medias[MediaType.PICTURE.valueOf()]" [src]="media.downloadURL" />
            <ion-item class="assertive" *ngFor="let media of medias[MediaType.AUDIO.valueOf()]" (click)="play(media)">
                <ion-icon name="musical-notes" item-left></ion-icon>
                <p class="my-content line-break assertive" [innerHTML]="media.name | nl2br"></p>
            </ion-item>
            <ion-item class="balanced" *ngFor="let media of medias[MediaType.VIDEO.valueOf()]" (click)="play(media)">
                <ion-icon name="film" item-left></ion-icon>
                <p class="my-content line-break balanced" [innerHTML]="media.name | nl2br"></p>
            </ion-item>
            <ion-item *ngFor="let media of medias[MediaType.TEXT.valueOf()]">
                <p class="my-content line-break" [innerHTML]="media.text | nl2br"></p>
            </ion-item>
        </ion-list>
    </ion-card>
</ion-content>
