page-medias {
    .assertive,
    a.assertive {
        color: #ef473a;
    }
    .balanced,
    a.balanced {
        color: #33cd5f;
    }
    .line-break {
        overflow: inherit;
        text-overflow: inherit;
        white-space: normal;
        margin-top: 0px;
    }
}
